
body,html{
    background-color: $f2eW1-first;
}

.box{
        position: absolute;
        transform: translate(-50%, -60%);
        top: 60%;
        left: 50%;
        // margin: 184px 285px;
        width: 450px;
        height: 450px;
        border: 1px solid black;
        background-color: #000;
        z-index: 1;
        animation: boxRate 4.5s ease-out;
}
.crici{
     transform: translate(-50%, -62%);
     top: 62%;
     left: 50%;
        // margin: 140px 242px;
        width: 539px;
        height: 534px;
        position: absolute;
        border: 1px solid $f2eW1-second;
        border-radius: 539px;
        background-color: $f2eW1-second;
        z-index: 2;
        animation: criciRate 5s ease;
    }
// .star{
//         position: relative;
//         top: 10px;
// }
.triangle{
        position: absolute;
         transform: translate(-52%, -50%);
         top: 50%;
         left: 52%;
        //     top: -9%;
        //     left: 15%;
        // margin: 100px 325px;
         width: 400px;
         height: 500px;
         border:1px solid $f2eW1-third;
         clip-path: polygon(15% 59%, 0 38%, 30% 37%, 46% 16%, 62% 37%, 89% 37%, 76% 59%, 90% 79%, 63% 79%, 47% 98%, 30% 79%, 0 79%);
         background-color:$f2eW1-third;
         animation: triangleRate 5.5s ease-in;
         z-index: 3;
    }


.waper{
    margin: 0 auto;
    // background-color: $f2eW1-first;
    // width: 1024px;
    // height: 768px;
    h1 {
        position: absolute;
            transform: translate(-50%,-50%);
            top: 48%;
            left: 50%;
        z-index: 5;
        // top: 50%;
        // transform: translatey(-50%);
        font-family: Roboto-Bold;
        font-size: 64px;
        color: #FFFFFF;
        text-align: center;
    }
    h3{
            position: absolute;
            transform: translate(-50%, -60%);
            top: 60%;
            left: 50%;
            font-size: 24px;
            color: #FFFFFF;
            // line-height: 36px;
            z-index: 5;
            text-align: center;
            // top: 40%;
    }
}

// 加 translate(-50%,-50%) 讓中心點偏移回來
@keyframes boxRate {
     0% {
         transform: translate(-50%, -60%) rotate(0deg);
     }

     78% {
         transform: translate(-50%, -60%)  rotate(-360deg);
     }

     80% {
         transform: translate(-50%, -60%) rotate(-360deg);
     }

     90% {
         transform: translate(-50%, -60%) rotate(-360deg) scale(5);
         opacity: 1;
     }

     100% {
         transform: translate(-50%, -60%) rotate(-360deg) scale(5);
         opacity: 0;
     }
}

@keyframes criciRate {
    0% {
        transform : translate(-55%, -62%) rotate(0deg);
    }

    78% {
        transform : translate(-55%, -62%) rotate(-360deg);
    }

    80% {
        transform : translate(-55%, -62%) rotate(-360deg);
    }

    90% {
        transform : translate(-55%, -62%) rotate(-360deg) scale(5);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -62%) rotate(-360deg) scale(5);
        opacity: 0;
    }
}




@keyframes triangleRate {
    0% {
        transform:translate(-52%, -50%) rotate(0deg);
    }

    78% {
        transform:translate(-52%, -50%) rotate(-360deg);
    }

    80% {
        transform:translate(-52%, -50%) rotate(-360deg);
    }

    90% {
        transform: translate(-52%, -50%) rotate(-360deg) scale(10);
        opacity: 1;
    }

    100% {
        transform:translate(-52%, -50%) rotate(-360deg) scale(10);
        opacity: 0;
    }
}

