


.box{
        // position: absolute;
        transform: translate(-50%, -60%);
        top: 60%;
        left: 50%;
        // margin: 184px 285px;
        width: 450px;
        height: 450px;
        border: 1px solid black;
        background-color: #000;
        z-index: 1;
        animation: boxRate 4.5s ease-out;
}
.crici{
     transform: translate(-50%, -62%);
     top: 62%;
     left: 50%;
        // margin: 140px 242px;
        width: 539px;
        height: 534px;
        // position: absolute;
        border: 1px solid $f2eW1-second;
        border-radius: 539px;
        background-color: $f2eW1-second;
        z-index: 2;
        animation: criciRate 5s ease;
    }
// .star{
//         position: relative;
//         top: 10px;
// }
.star{
        // position: absolute;
        //  transform: translate(-60%, -50%);
         top: 250px;
         left: 60px;
        //     top: -9%;
        //     left: 15%;
        // margin: 100px 325px;
         width: 400px;
         height: 500px;
         border:1px solid $f2eW1-third;
         clip-path: polygon(15% 59%, 0 38%, 30% 37%, 46% 16%, 62% 37%, 89% 37%, 76% 59%, 90% 79%, 63% 79%, 47% 98%, 30% 79%, 0 79%);
         background-color:$f2eW1-third;
         animation: starRate 5.5s ease-in;
         z-index: 3;
    }


.waper{
    margin: 0 auto;
    background-color: $f2eW1-first;
    // width: 1024px;
    // height: 768px;
    h1 {
        position: absolute;
            transform: translate(-50%,-50%);
            top: 400px;
            left: 50%;
        z-index: 5;
        // top: 50%;
        // transform: translatey(-50%);
        font-family: Roboto-Bold;
        font-size: 64px;
        color: #FFFFFF;
        text-align: center;
    }
    h3{
            position: absolute;
            transform: translate(-50%, -60%);
            top: 500px;
            left: 50%;
            font-size: 24px;
            color: #FFFFFF;
            // line-height: 36px;
            z-index: 5;
            text-align: center;
            // top: 40%;
    }
    .p{
           position: absolute;
           transform: translate(-50%, -60%);
           top: 560px;
           left: 50%;
           font-size: 24px;
           
           z-index: 5;
           text-align: center; 
            border: 1px solid white;
            padding: 10px;
            border-radius: 50px;
            a{
                text-decoration: none;
                color: #FFFFFF;
            }
            
        }
}

// 加 translate(-50%,-50%) 讓中心點偏移回來
@keyframes boxRate {
     0% {
         transform: translate(-50%, -60%) rotate(0deg);
     }

     78% {
         transform: translate(-50%, -60%)  rotate(-360deg);
     }

     80% {
         transform: translate(-50%, -60%) rotate(-360deg);
     }

     90% {
         transform: translate(-50%, -60%) rotate(-360deg) scale(5);
         opacity: 1;
     }

     100% {
         transform: translate(-50%, -60%) rotate(-360deg) scale(5);
         opacity: 0;
     }
}

@keyframes criciRate {
    0% {
        transform : translate(-55%, -62%) rotate(0deg);
    }

    78% {
        transform : translate(-55%, -62%) rotate(-360deg);
    }

    80% {
        transform : translate(-55%, -62%) rotate(-360deg);
    }

    90% {
        transform : translate(-55%, -62%) rotate(-360deg) scale(5);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -62%) rotate(-360deg) scale(5);
        opacity: 0;
    }
}




@keyframes starRate {
    0% {
        transform:translate(-52%, -50%) rotate(0deg);
    }

    78% {
        transform:translate(-52%, -50%) rotate(-360deg);
    }

    80% {
        transform:translate(-52%, -50%) rotate(-360deg);
    }

    90% {
        transform: translate(-52%, -50%) rotate(-360deg) scale(10);
        opacity: 1;
    }

    100% {
        transform:translate(-52%, -50%) rotate(-360deg) scale(10);
        opacity: 0;
    }
}


.question1{
    width: 60%;
    height: 768px;
}
.q1{
    color: #FFFFFF;
    h2{
        margin: 86px 380px 10px 122px;
        font-size: 64px;
        color: #FF3C82;
    }
    h3{
        font-size: 36px;
        color: #FFFFFF;
        line-height: 48px;
        margin: 0 300px 16px 122px;
    }
    p{
        font-size: 24px;
        color: #0027C8;
        line-height: 36px;
        margin: 0 350px 40px 122px;
    }
}

.choosOptical{
    .answer{
        display: block;
        padding: 10px;
        margin: 0 300px 16px 122px;
        border: 2px solid #FFFFFF;
        border-radius: 30.5px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        line-height: 36px;
        text-decoration: none;
    }

}

.move{
    background: #0027C8;
    height: 768px;
}