block page1
    h1 Q1
    p If one day you get a gift that can change the rule of the world, which ability will you choose? 
    h3 Choose the answer appeared in your mind instantly
    ul.li Destroy all humans in the world
      a(href="#") 
    ul.li
    ul.li