.question2
      .q2
        h2 Q2
        h3 If one day you get a gift that can change the rule of the world, which ability will you choose? 
        p Choose the answer appeared in your mind instantly

        .choosOptical
          a(href="page2.html").answer(data-point='1') Destroy all humans in the world
          a(href="page2.html").answer(data-point='3') Make the war never happened
          a(href="page2.html").answer(data-point='5') You won’t get old and live forever

      .move
        .rect
        .triangle
        .cricle